@import '../utilidades/colores';

@mixin card-style($width) {
    border: none;
    border-radius: 0;
    margin: 0 0.5em;
    width: $width;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);

    &:hover {
        cursor:pointer;
    }
}

.card {
    @include card-style(300px);

    img {
        max-width: 100%;
        max-height: 100%;
    }
    
    .card-body {
        a {
            background-color: $c-bg-primary;
            border-color: $c-bg-primary;
        }
    }
}

.card-full {
    @include card-style(90%);
}
